FEATURES {
    STARTADDRESS: default = $1900;
}
SYMBOLS {
    __STACKSIZE__: type = weak, value = $0100;
    __HIMEM__:     type = weak, value = $7200;
#;    __BUFSIZE__:   type = weak, value = $2D0;
}
MEMORY {
    ZP:       file = "", define = yes, start = $0050, size = $0020;
    MAIN:     file = %O, define = yes, start = %S,    size = __HIMEM__ - %S;
#;     APPBUF:   file = "", define = yes, start = $7C00 - __STACKSIZE__ - __BUFSIZE__, size = __BUFSIZE__;
}
SEGMENTS {
    ZEROPAGE: load = ZP,       type = zp;
    STARTUP:  load = MAIN,     type = ro,  define = yes;
    LOWCODE:  load = MAIN,     type = ro,                optional = yes;
    ONCE:     load = MAIN,     type = ro,  define = yes;
    CODE:     load = MAIN,     type = ro;
    RODATA:   load = MAIN,     type = ro;
    DATA:     load = MAIN,     type = rw,  define = yes;
    INIT:     load = MAIN,     type = bss, define = yes, optional = yes;
    BSS:      load = MAIN,     type = bss, define = yes;
#;    BIGBUF:   load = APPBUF,   type = bss, define = yes, optional = yes;
}
FEATURES {
    CONDES: type    = constructor,
            label   = __CONSTRUCTOR_TABLE__,
            count   = __CONSTRUCTOR_COUNT__,
            segment = ONCE;
    CONDES: type    = destructor,
            label   = __DESTRUCTOR_TABLE__,
            count   = __DESTRUCTOR_COUNT__,
            segment = RODATA;
    CONDES: type    = interruptor,
            label   = __INTERRUPTOR_TABLE__,
            count   = __INTERRUPTOR_COUNT__,
            segment = RODATA,
            import  = __CALLIRQ__;
}
